.neumatico-item {
	border: var(--og-primary) 1px solid;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
	margin-bottom: 20px;

	&__header {
		background-color: var(--og-primary);
		padding: 15px 20px;

		&__text {
			color: #FFF;
			font-size: 16px;
			font-weight: bold;
		}
	}

	&__bloque {
		padding: 15px 20px;
		font-size: 13px;
		line-height: 1.8em;

		& b {
			font-weight: 500;
		}

		&__light {
			background-color: #F4F5F9;
			border: #E1E7FB 1px solid;

			& input, & select {
				background-color: #FFF;
			}
		}
	}

	&__botonera {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;

		& button {
			margin: 3px;
		}
	}
}
