<div class="container z-95 mb-5">
	<div class="row">
		<div class="col-5 d-flex flex-column align-items-end">
			<div class="p-0 center-front-tire">
				<app-cuadro-de-medicion [medicion]="tires[0]" [orientacion]="'horizontal'"></app-cuadro-de-medicion>
			</div>
			<div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[2]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[3]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[6]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[7]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[10]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[11]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[14]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[15]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[18]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[19]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
		</div>


		<div class="col-2 d-flex justify-content-center">
			<img src="../../../../../../assets/img/vehiculos/Trailer.png" width="98px" alt="">
		</div>


		<div class="col-5 d-flex flex-column align-items-end">
			<div class="p-0 center-front-tire">
				<app-cuadro-de-medicion [medicion]="tires[1]" [orientacion]="'horizontal'"></app-cuadro-de-medicion>
			</div>
			<div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[4]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[5]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[8]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[9]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[12]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[13]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[16]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[17]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
            <div class="p-0 m-0 d-flex ">
				<app-cuadro-de-medicion [medicion]="tires[20]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
                <app-cuadro-de-medicion [medicion]="tires[21]" [orientacion]="'horizontal'"  ></app-cuadro-de-medicion>
			</div>
		</div>
	</div>
</div>

