<div class="card">
	<div class="card-header bg-secondary">
		<div class="card-header__title text-white">
			Carga de estaciones
		</div>
	</div>


	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>
						Información de estaciones* (carga tu plantilla de excel actualizada):
					</p>
				</div>

				<div class="col-12">
					<div class="form-group">
						<input class="form-control file-input w-100" type="file" id="fileUpload" #fileUpload
							name="fileUpload">
					</div>
				</div>

				<div class="button-group">
					<button type="submit" class="btn btn-info">Borrar</button>
					<button type="submit" class="btn btn-primary">Cargar</button>
				</div>
			</div>
		</div>
	</div>
</div>
