<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

	<ngb-panel title="GESTORÍA" cardClass="acc-card">
	  <ng-template ngbPanelContent>
		<app-form-gestoria></app-form-gestoria>
	  </ng-template>
	</ngb-panel>

	<ngb-panel title="NEUMÁTICOS" cardClass="acc-card">
		<ng-template ngbPanelContent>
		  <app-form-neumaticos></app-form-neumaticos>
		</ng-template>
	  </ngb-panel>

	  <ngb-panel title="LEASING" cardClass="acc-card">
		<ng-template ngbPanelContent>
		  <app-form-leasing></app-form-leasing>
		</ng-template>
	  </ngb-panel>

	  <ngb-panel title="SEGUROS" cardClass="acc-card">
		<ng-template ngbPanelContent>
		  <app-form-seguros></app-form-seguros>
		</ng-template>
	  </ngb-panel>

	  <ngb-panel title="CASETAS" cardClass="acc-card">
		<ng-template ngbPanelContent>
		  <app-form-casetas></app-form-casetas>
		</ng-template>
	  </ngb-panel>

	  <ngb-panel title="COMBUSTIBLES" cardClass="acc-card">
		<ng-template ngbPanelContent>
		  <app-form-combustibles></app-form-combustibles>
		</ng-template>
	  </ngb-panel>

	  <ngb-panel title="TELEMETRÍA" cardClass="acc-card">
		<ng-template ngbPanelContent>
		  <app-form-telemetria></app-form-telemetria>
		</ng-template>
	  </ngb-panel>

  </ngb-accordion>
