.table-wrapper {
	width: 100%;
}

table {
	width: 100%;
}


.minimodal {
	width: 240px;
	height: 193px;
	border-radius: 10px;
	border-radius: #CCC 1px solid;
	position: absolute;
	background-color: #FFF;
}
