
.card-header {
	margin: 10px 15px 10px 15px;
    border-radius: 10px;
   
	& form {
		margin-right: 20px;
	}
}
.blue-header{
    height: 50px;
    display: flex;
    align-items: center;
    & div > h6{
        color: #fff
    }
    & div > p{
        color: #fff
    }
}
.blue-border{
    border: 1px solid #2E48CB;
}
.text-light-blue{
    color: #04AFEF
}
.deco-none{
	text-decoration: none;
}
.h-80{
    height: 80vh;
}
.text-blue-gray{
    color: #707EAD;
}
.text-light-blue{
    color: #04AFEF
}
.icon-start-box{
    background: #E1E7FB;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}
.icon-start{
    color:#707EAD;
    width: auto;
    height: 32px;
}
.first-icon-input{
    border: 1px solid #2E48CB;
    border-right: none;
    border-radius: 5px;
}
.double-icon-input{
    border-left: none;
}
.p-box{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
	font-weight:600;
    display: flex;
    align-items: center;
    justify-content: center;
    & strong{
        font-size: 20px;
    }
}
.badge{
    border-radius: 3px;
    text-align: center;
	font-weight:600;
	width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    & strong{
        font-size: 20px;
    }
	
}
.badge-success{
    background-color: #62E700;
    color:#2E48CB;
}
.badge-warning{
    background-color: #FFBF25;
}
.badge-danger{
    background-color: #FF252B;
}
.badge-gray{
    background-color: #E1E7FB;
}
.tyre-box{
    border: 1px solid #2E48CB;
    border-radius: 10px;
}

.badge-available{
    background-color: var(--og-success);   
    text-decoration: none;
    color: var(--og-primary);
    padding: 8px 10px;
    border:none;
   }
.badge-not-available{
    background-color: var(--og-warning);   
    text-decoration: none;
    color: var(--og-primary);
    padding: 5px 10px;
    border:none;
	& svg{
		margin-left: 4px;
		margin-right: 4px;
		fill: var(--og-primary);
	}
}
.badge-drop{
    background-color: var(--og-danger);   
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border:none;
	& svg{
		margin-left: 4px;
		margin-right: 4px;
		fill: #FFF;
	}
}
.badge-validity{
    background-color: #FFF5DE;   
    text-decoration: none;
    color: var(--og-primary);
    padding: 8px 15px;
    border:none;
    width: fit-content;
   }

