<div class="columnas-gp-btn ms-3" [matMenuTriggerFor]="selectTableDisplayMenu">

	<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M14.5 0H1.5C0.671562 0 0 0.671562 0 1.5V12.5C0 13.3284 0.671562 14 1.5 14H14.5C15.3284 14 16 13.3284 16 12.5V1.5C16 0.671562 15.3284 0 14.5 0ZM7 12H2V4H7V12ZM14 12H9V4H14V12Z" fill="#FF8B00"/>
	</svg>
</div>



<mat-menu #selectTableDisplayMenu="matMenu" xPosition="before">
	<div style="display: block; padding: 15px 15px 0px 15px;">
		<section class="example-section" [formGroup]="tableDisplay" (click)="$event.stopPropagation();">

			<div class="form-check" *ngFor="let item of tableDisplay.value | keyvalue">
				<input class="form-check-input" type="checkbox" value="{{ item.key }}" id="{{ item.key }}" formControlName="{{ item.key }}">
				<label class="form-check-label" for="{{ item.key }}">
					{{ (item.key.toString().split('_').join(' ')) }}
				</label>
			</div>

		</section>
	</div>
</mat-menu>
