::ng-deep {
	.mt-30{
	margin-top: 30px;
	}
	.mb-30{
		margin-bottom: 30px;
	}
	.h-45{
		height: 45px;
	}
	.img-btn{
		& img{
			margin: 0 !important;
		}
	}
}

.backdrop{
	z-index: -1;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.0);
}
.input-datepicker{

	& input {
		background-color: var(--og-info);
		border: 0;
		color: var( --og-primary);
		background: var(--og-info) url(./../../../../assets/gpicons/arrow-down.svg) center right no-repeat;
		background-position: right 0.75rem center;
	}
}
.dateSelector{
	height: 45px;
}
.datepicker {
	position: absolute;
	background: #FFF;
	padding: 10px;
	width: 335px;
	border-radius: 5px;
	border: var(--og-info) 1px solid;
	top:70px
}
.show-right{
	display: flex;
    justify-content: end;
}
.show {
	display: block;
}

.show {
	display: none;
}

.select-datepicker {
	width: 140px;
}
.h-auto{
	height: auto;
}
.timepicker-group{
	display: flex;
	flex-direction: column;
	
}
.timepick > input {
	width: 100%;
 }
.botonera {
	height: 45px;
	border-radius: 5px;
	border: var(--og-info-dark) 1px solid;
	background-color: var(--og-info);
	// color: #8894BB;
	font-weight: 400;
	width: 100%;
	display: flex;
	overflow: hidden;

	& button:first-child  {
		border-right: var(--og-info-dark) 1px solid;
	}

	& button:last-child  {
		border-left: var(--og-info-dark) 1px solid;
	}

	& button {
		color: var(--og-primary-dark);
		font-weight: 500;
		flex-grow: 1;
		background-color: transparent;
		border: 0;
		font-size: 12px;
	}

	& .active {
		background-color: var(--og-primary-dark);
		color: #FFF;
	}
}

.datepicker-group {
	display: flex;

	&__item {
		flex-grow: 1;
		display: block;
		padding: 10px;
	}
}


.datepicker-buttongroup {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	& button {
		margin: 5px;
	}
}



.datepicker-range-wrapper {
	border: var(--og-info) 1px solid;
	border-radius: 5px;

	& input {
		border: 0px;

		&:focus {
			border: 0px!important;
		}
	}
}

.btn-white{
	display: flex;
    align-items: center;
	background-color: #FFF !important;
	padding: 6px 15px;
    margin: 0.5px -1px;
    height: 45px;
	cursor:auto;
}


.select-picker-date {
	// background: #FFF url(./../../../../../assets/icons/arrow-down-datepicker.svg) top right no-repeat;
	background: var(--og-info) url(./../../../../assets/icons/arrow-down-datepicker.svg) top right no-repeat;
	background-position: right 0.75rem center;
	cursor: pointer;

	color: var(--og-primary);
	font-size: 13px;
	height: 45px;
	padding-right: 32px;
	border-radius: 0 8px 8px 0;

	&:active,
	&:focus {
		color: var(--og-info) !important;
	}
}
