<div class="container mb-4">
	<div class="row">
		<div class="col-5 d-flex flex-column align-items-end">
			<div class="p-3">
				<app-cuadro-de-medicion [medicion]="tires[0]" [orientacion]="'horizontal'"></app-cuadro-de-medicion>
			</div>
			<div class="p-3">
				<app-cuadro-de-medicion [medicion]="tires[2]" [orientacion]="'horizontal'"></app-cuadro-de-medicion>
			</div>
		</div>


		<div class="col-2">
			<img src="../../../../../../assets/img/vehiculos/auto.png" width="98px" alt="">
		</div>


		<div class="col-5">
			<div class="p-3">
				<app-cuadro-de-medicion [medicion]="tires[1]" [orientacion]="'horizontal'"></app-cuadro-de-medicion>
			</div>
			<div class="p-3">
				<app-cuadro-de-medicion [medicion]="tires[3]" [orientacion]="'horizontal'"></app-cuadro-de-medicion>
			</div>
		</div>
	</div>
</div>
